.toolbar-container {
    display: flex !important;
    justify-content: center !important;
    width: "95%" !important;
}

.toolbar {
    justify-content: center !important;
    align-items: "center" !important;
    position: fixed !important;
    top: 5px !important;
    /* o el valor que prefieras */
    left: 50% !important;
    transform: translateX(-50%) !important;
    z-index: 1000 !important;
    background-color: rgba(235, 233, 233, 0.838) !important;
    /* blanco con un poco de transparencia */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2) !important;
    border-radius: 12px !important;
    padding: 8px 16px !important;
}

.search-bar-container {
    background-color: #f9f9f954 !important;
    padding: 0.75rem !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1) !important;
}

.toolbar .sapMBtn {
    text-decoration: none !important;
    transition: all 0.3s ease !important;
    margin: 0 6px !important;
}

.toolbar .sapMBtn:hover {
    transform: translateY(-2px) !important;
}

.toolbar .sapMBtnInner {
    font-weight: bold !important;
    color: black !important;
}

.prod-detail {
    background-color: white !important;
}

.userBanner {
    background-image: url('/assets/imgs/profilebanner.png') !important;
    background-size: cover !important;
    background-position: center 35% !important;
    color: rgb(255, 0, 0) !important;
    padding: 2rem !important;
    border-radius: 8px !important;
    height: 350px !important;
}

.userBanner .sapMText {
    color: white !important;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}

.underTextProfile .sapMText {
    color: rgb(163, 163, 163) !important;
    font-size: 0.75rem !important;
    font-weight: light !important;
}

.footerToolbar {
    bottom: 10px !important;
    width: 100% !important;
    z-index: 10 !important;
    background-color: #f8f9fa !important;
    border-top: 1px solid #ddd !important;
    padding: 15px 25px !important;
}

.productDetailContainer {
    gap: 2rem !important;
}

.roundedBanner {
    /* border-radius: 15px !important;
    display: block !important;
    margin: 0 auto !important; */
    object-fit: cover !important;
    object-position: center top !important;
    height: 450px !important;
}

.centeredTitle {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    margin: 1rem 0 !important;
}

.desktopWidth {
    width: 48% !important;
}